# 2020.12.01

## 실시간 파이썬 테스트

* 작성자 : 성기동

In [1]:
2 ** 100

1267650600228229401496703205376

In [2]:
name  = "GiDong"

In [3]:
name

'GiDong'

In [4]:
filename = "file.jpg"
print("Your file is "+ filename)
print("Your file is %s" % filename) #python2
print("Your file is {filename}".format(filename=filename))

# String Interpolation
print(f"Your file is {filename}")

Your file is file.jpg
Your file is file.jpg
Your file is file.jpg
Your file is file.jpg

In [5]:
from dataclasses import dataclass

@dataclass
class Student:
        name: str
        student_id: int
        gpa: float

In [6]:
len("안녕")  # 출력값은 ???

2

In [7]:
len("안녕".encode("utf8"))  # 출력값은 ?

6

In [8]:
len("안녕".encode("cp949"))  # 출력값은?

4

In [9]:
2 ** 1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [10]:
20/5

4.0

In [11]:
20//5

4

In [12]:
10 & 1

0

In [13]:
1 & 1

1

In [14]:
8 & 10

8

In [15]:
import requests
from bs4 import BeautifulSoup

"""
네이버 페이지 요청에 사용할 HTTP 헤더를 정의합니다.
requests 라이브러리의 디폴트 User-Agent는 python-requests/버전 입니다.
이 User-Agent로 요청할 경우, 네이버에서는 에러 응답을 합니다.
"""
headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_0_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.198 Safari/537.36",
}

res = requests.get("https://datalab.naver.com/keyword/realtimeList.naver", headers=headers)
html = res.text
soup = BeautifulSoup(html, 'html.parser')

tag_list = soup.select('.ranking_item .item_title')

for rank, tag in enumerate(tag_list, 1):  # 항상 하위 block 전에 콤마(:)를 씁니다.
    label = tag.text
    print('{}: {}'.format(rank, label))

1: 고기영
2: 군포 화재
3: 산본 화재
4: 군포
5: 최하민
6: 반석교회
7: 동네사람들
8: 감스트
9: 백두한양아파트
10: 산본
11: 윤석열 직무정지
12: 공인인증서 폐지
13: 레이디스코드
14: 김성현
15: 이종범 와이프
16: 조은희
17: 박은정 검사
18: 조현
19: 싱어게인 11호
20: 윤박

In [16]:
def mysum(x: int, y: int) -> int:
    """
    args:
        - x : 
        - y : 
    return:
    """
    return x + y

In [17]:
mysum(1, 2)

3

In [18]:
print(mysum.__doc__)

    args:
        - x :
        - y :
    return:

In [19]:
mysum?

In [20]:
import requests

In [21]:
len("한글")

2

In [22]:
print(len("한글".encode("utf8")))
print(len("한글".encode("utf16")))
print(len("한글".encode("utf32")))
print(len("한글".encode("cp949")))

6
6
12
4

In [23]:
len("가나다라마바사아자차카타파하")

14

In [24]:
"가나다라마바사아자차카타파하"[-1]

'하'

In [25]:
s = "가나다라마바사아자차카타파하"
s[len(s)-1]

'하'

In [26]:
s[-1]

'하'

In [27]:
# QuerySet => SQL을 생성/수행

In [28]:
s[:3] # 0이상 3미만

'가나다'

In [29]:
s[3:]

'라마바사아자차카타파하'

In [30]:
s[:] # s 객체 복사 => copy 모듈을 명시적으로.

'가나다라마바사아자차카타파하'

In [31]:
s[3::] # start : end : step

'라마바사아자차카타파하'

In [32]:
s[3::2] # start : end : step

'라바아차타하'

In [33]:
s[3::3] # start : end : step

'라사차파'

In [34]:
s[::-1]

'하파타카차자아사바마라다나가'

In [35]:
# s = "A나다라마바사아자차카타파하"
# s = "A" + s[1:]

In [36]:
s[3:-3:2]

'라바아차'

In [37]:
문자열 = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"

In [38]:
문자열[-2::-2]

'YWUSQOMKIGECA'

In [39]:
import seaborn as sns

In [40]:
df = sns.load_dataset("titanic")

In [41]:
# 페이지 나누기
paginate_by = 10
page = 1

start_index = (page -1) * paginate_by
end_index = start_index + paginate_by

df.iloc[start_index:end_index]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [42]:
df["survived"].mean() #생존율

0.3838383838383838

In [43]:
df["sex"].value_counts() #성별분포

male      577
female    314
Name: sex, dtype: int64

In [44]:
# 값의 목록을 준비해두고, 요청이 있을 때마다 하나씩 꺼내준다.
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [45]:
for 숫자 in range(2, 10):
    print("### {}단 ###".format(숫자))
    for i in range(1, 10):
        계산결과 = 숫자 * i
        print("{} * {} = {}".format(숫자, i, 계산결과))
    print("")

### 2단 ###
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

### 3단 ###
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

### 4단 ###
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

### 5단 ###
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

### 6단 ###
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

### 7단 ###
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

### 8단 ###
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

### 9단 ###
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [46]:
range(10) # 10개를 생산할 것인데, 생상할 준비. 요청이 있을때마다 1개씩 생산 & 출하

range(0, 10)

In [47]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [49]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

# 실습

## 2이상 9이하 범위에서, 3의 배수 숫자의 구구단 출력하기

In [50]:
# 3,6,9
for number in range(3,10,3):
    print(f"### {number}단 ###")
    for i in range(1,10):
        print(f"{number} * {i} = {number * i}")

### 3단 ###
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
### 6단 ###
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
### 9단 ###
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

## 1이상 100미만 범위에서 3과 5의 공배수를 모두 출력하기

In [51]:
for i in range(1,100):
    if(i%3 == 0 and i%5 == 0):
        print(f"3과 5의 공배수 : {i}")

3과 5의 공배수 : 15
3과 5의 공배수 : 30
3과 5의 공배수 : 45
3과 5의 공배수 : 60
3과 5의 공배수 : 75
3과 5의 공배수 : 90

## 1이상 100미만 범위에서 3과 5의 공배수의 합을 출력하기

In [52]:
number = 0
for i in range(1,100):
    if(i%3 == 0 and i%5 == 0):
        number += i
print(f"3과 5의 공배수 합 : {number}")

3과 5의 공배수 합 : 315

In [53]:
# list comprehension

sum([i for i in range(1,100) if i%(3*5) == 0])

315

In [54]:
sum(i for i in range(1,100) if i%(3*5) == 0)

315

In [55]:
def check(number: int) -> bool:
    return number % (3*5) == 0
sum(filter(check, range(1,100)))

315

In [56]:
def check(number: int) -> bool:
    return number % (3*5) == 0
sum(filter(lambda number: number % 15 == 0, range(1,100)))

315

## Edit -> ESC -> Command 모드

* a : Insert Above
* b : Insert Below
* Enter : Edit 모드로 진입
* m : Cell을 Markdown Cell로 변환
* y : Cell을 Code Cell로 변환
* dd : delete cell

# list

새로운 리스트 생성

In [57]:
[] # new list
list()

() # new tuple
tuple()

{} # new dict
dict()

#  # new set
set()

set()

In [58]:
type({})

dict

In [59]:
# 대괄호 안에 다수의 값들을 콤마(,)로 구분해서 나열
items = ["아이유", "Zion. T", "양다일", "pH-1", "임창정", "로꼬", "바이브", "iKON"]

# 새로운 값을 뒤에, 혹은 원하는 위치에 넣을 수 있고
items.append("로이킴")  # 끝에 항목 1개 추가
items.insert(0, "로맨틱모먼트")  # 지정 위치에 항목 1개 추가
items.extend(["Coogie", "폴킴", "선미"])  # 끝에 다수의 값을 추가

# 특정 위치의 값, 혹은 특정 값을 삭제
items.remove("임창정") # 지정 값을 1회 제거, 지정 값이 없으면 ValueError
items.pop(3) # 지정 위치 (인덱스)의 값을 제거와 동시에 반환

'양다일'

In [60]:
items.extend("test") # == extend(["t","e","s","t"])
items

['로맨틱모먼트',
 '아이유',
 'Zion. T',
 'pH-1',
 '로꼬',
 '바이브',
 'iKON',
 '로이킴',
 'Coogie',
 '폴킴',
 '선미',
 't',
 'e',
 's',
 't']

In [61]:
hello_list = ["hello"] * 10
hello_list.remove("hello")
hello_list

['hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello']

In [62]:
곡명_리스트 = ["Dynamite", "작은 것들을 위한 시", "봄날", "Savage Love"]

In [63]:
곡명1, 곡명2, 곡명3, 곡명4 = 곡명_리스트  # 갯수를 맞춰야만 합니다. 맞추지 않으면 ValueError가 발생

In [64]:
곡명2, 곡명3 = 곡명_리스트[1:3]

In [65]:
곡명1, *__, 곡명4 = 곡명_리스트 # 함수 Arguments부분에서 다시 나옵니다.

In [66]:
__

['작은 것들을 위한 시', '봄날']

In [67]:
message = (
    "aaaaa"
    "bbbbb"
    "ccccc"
)
message

'aaaaabbbbbccccc'

In [68]:
import sys
sys.path

['/Users/seong-gidong/Gitlab/sgd_growth/jupyter',
 '/Users/seong-gidong/opt/anaconda3/lib/python38.zip',
 '/Users/seong-gidong/opt/anaconda3/lib/python3.8',
 '/Users/seong-gidong/opt/anaconda3/lib/python3.8/lib-dynload',
 '',
 '/Users/seong-gidong/opt/anaconda3/lib/python3.8/site-packages',
 '/Users/seong-gidong/opt/anaconda3/lib/python3.8/site-packages/aeosa',
 '/Users/seong-gidong/opt/anaconda3/lib/python3.8/site-packages/IPython/extensions',
 '/Users/seong-gidong/.ipython']

In [69]:
BTS_곡리스트 = ["Life Goes On", "Dynamite"]
BTS_곡리스트.extend("작은 것들을 위한 시")
BTS_곡리스트

['Life Goes On',
 'Dynamite',
 '작',
 '은',
 ' ',
 '것',
 '들',
 '을',
 ' ',
 '위',
 '한',
 ' ',
 '시']

# tuple

In [70]:
numbers = [1,2,3]
numbers[0] = 100
numbers

[100, 2, 3]

In [71]:
number_tuple = (1,2,3)
number_tuple

(1, 2, 3)

In [72]:
def myprint(*args):
    print(type(args), args)

myprint(1, 2, 3, 4, 5)

<class 'tuple'> (1, 2, 3, 4, 5)

In [73]:
x=1
y=2

In [74]:
x,y = y,x

In [75]:
x

2

In [76]:
y

1

In [77]:
# 중괄호 안에 다수dml 값들을 콤마(,)로 구분해서 나열
TOP100_가수 = { "아이유", "Zion.T", "아이유", "BTS", "임창정", "BTS" }
# { "BTS", "Zion-T", "아이유", "임창정" } 으로 알아서 중복 제거

# 새로운 값 추가 (위치 지정 불가)
TOP100_가수.add("아이유") # 지정 값을 집합에 추가. 중복을 알아서 제거

# 특정 값 제거 혹은 임의 값 제거/획득
TOP100_가수.remove("임창정")  # 지정 값을 제거. 지정 값이 없으면 ValueError
TOP100_가수.pop()  # 임의 값을 제거와 동시에 획득

'Zion.T'

In [78]:
멜론TOP5_가수 = {"아이유", "Zion. T", "양다일", "pH-1", "임창정"}
벅스TOP5_가수 = {"아이유", "Zion. T", "크러쉬", "양다일", "다비치"}

In [79]:
멜론TOP5_가수 | 벅스TOP5_가수

{'Zion. T', 'pH-1', '다비치', '아이유', '양다일', '임창정', '크러쉬'}

In [80]:
멜론TOP5_가수 & 벅스TOP5_가수

{'Zion. T', '아이유', '양다일'}

In [81]:
멜론TOP5_가수 - 벅스TOP5_가수

{'pH-1', '임창정'}

In [82]:
멜론TOP5_가수 ^ 벅스TOP5_가수

{'pH-1', '다비치', '임창정', '크러쉬'}

## 퀴즈) 아래 리스트에서 중복을 배제한 리스트를 구성해보세요.

In [83]:
멜론TOP10_가수 = [
    "아이유", "Zion. T", "양다일", "pH-1", "임창정",
    "방탄소년단", "아이유", "방탄소년단", "선미", "방탄소년단",
]

In [84]:
set(멜론TOP10_가수)

{'Zion. T', 'pH-1', '방탄소년단', '선미', '아이유', '양다일', '임창정'}

In [85]:
{ "A", "B" } # set
{ "A":1, "B":2 } # dict (key/value)

{'A': 1, 'B': 2}

In [86]:
# 사전(dict): {}

In [87]:
["a","b","c"] # list, index
("a","b","c") # tuple, index
{"a","b","c"} # set, noindex

{'a', 'b', 'c'}

In [88]:
# key에는 Immutable한 객체만 올 수 있습니다(str, int, tuple)
성적 = {
    "국어": 100,
    "영어": 80,
    "수학": 90,
}
print(성적)
성적["국어"]

{'국어': 100, '영어': 80, '수학': 90}

100

In [89]:
#멤버쉽 테스트
print("국어" in 성적)
print("사회" in 성적)

True
False

In [90]:
import requests

In [91]:
res = requests.get("https://www.naver.com")
html = res.text

In [92]:
word_list = html.split() # Whitespaces(space, tab, newline)
len(word_list)

12070

In [93]:
counter = {}

for word in word_list:
    if word not in counter:
        counter[word] = 0
    counter[word] += 1