In [130]:
import requests
from bs4 import BeautifulSoup


headers = {
    'User-Agent': (
        'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_3) '
        'AppleWebKit/537.36 (KHTML, like Gecko) '
        'Chrome/72.0.3626.121 Safari/537.36'
    ),
}


def get_like_count(song_no_list):
    api_url = "https://www.melon.com/commonlike/getSongLike.json"
    params = {"contsIds": song_no_list}
    res = requests.get(api_url, params=params, headers=headers)
    res.raise_for_status()
    response = res.json()
    like_list = response["contsLike"]
    like_dict = {
        str(song["CONTSID"]): song["SUMMCNT"]
        for song in like_list}
    return like_dict


def get_song_list():
    res = requests.get("http://www.melon.com/chart/index.htm", headers=headers)
    res.raise_for_status()
    html = res.text
    soup = BeautifulSoup(html, 'html.parser')
    tr_tag_list = soup.select('.d_song_list tbody tr')

    song_list = []

    for rank, tr_tag in enumerate(tr_tag_list, 1):
        song_no = tr_tag["data-song-no"]
        song_tag = tr_tag.select_one('a[href*=playSong]')
        album_tag = tr_tag.select_one('.wrap_song_info a[href*=goAlbumDetail]')
        artist_tag = tr_tag.select_one('a[href*=goArtistDetail]')
        
        song = {
            'song_no': song_no,
            'title': song_tag.text,
            'album': album_tag.text,
            'artist': artist_tag.text,
            'rank': rank,
        }
        song_list.append(song)

    song_no_list = [song["song_no"] for song in song_list]
    like_dict = get_like_count(song_no_list)

    for song in song_list:
        like_count = like_dict[song["song_no"]]
        song["like"] = like_count

    return song_list

In [131]:
melon_top100_list = get_song_list()

In [1]:
from collections import defaultdict

In [2]:
artist_dict = defaultdict(int)

In [4]:
artist_dict["t"]

0

# 함수

In [11]:
class Person:
    def say_hello(self, name, age=None):
        print(f"안녕 {name}")

Person().say_hello("sgd")

안녕 sgd

In [6]:
def mysum(x: int, y: int) -> int:
    return x + y + 10

In [7]:
mysum(1, 2)

13

In [15]:
def 부가세_계산2(결제금액):
    부가세 = 결제금액 // 11
    부가세_제외금액 = 결제금액 - 부가세
    # 2개 값을 반환하는 듯 하지만, 실제 1개의 tuple
    return 부가세_제외금액, 부가세

금액1,금액2 = 부가세_계산2(20000)

In [16]:
금액1

18182

In [18]:
금액2

1818

In [19]:
# Type Hinting 버전

from typing import Tuple

def 부가세_계산2(결제금액: int) -> Tuple[int, int]:
    부가세 = 결제금액 // 11
    부가세_제외금액 = 결제금액 - 부가세
    return 부가세_제외금액, 부가세

In [21]:
부가세_계산2(20000)

(18182, 1818)

In [22]:
def mysum(x, y):
    return x + y * 10

In [27]:
print(mysum(1,2))
print(mysum(2,1))
print(mysum(y=2,x=1))

21
12
21

In [32]:
def 봉급계산(기본급, 야근시간=0):
    return 기본급 + 야근시간 * 8000

In [33]:
봉급계산(800000, 20)

960000

In [31]:
봉급계산(800000, 야근시간=20)

960000

In [34]:
봉급계산(800000)

800000

In [35]:
def 리스트에_항목_추가(항목, 추가할_리스트=[]):
    추가할_리스트.append(항목)
    return 추가할_리스트

list1 = 리스트에_항목_추가("사과")
list2 = 리스트에_항목_추가("바나나")

print(list1)
print(list2)

['사과', '바나나']
['사과', '바나나']

In [36]:
def 리스트에_항목_추가(항목, 추가할_리스트=None):
    if 추가할_리스트 is None:
        추가할_리스트 = []
        
    추가할_리스트.append(항목)
    return 추가할_리스트

list1 = 리스트에_항목_추가("사과")
list2 = 리스트에_항목_추가("바나나")

print(list1)
print(list2)

['사과']
['바나나']

In [41]:
(lambda x, y: 10 * x + y)(1,2)

12

In [39]:
def fn(x, y):
    return 10 * x + y

fn(1,2)

12

# 일급 함수/클래스

In [42]:
from functools import reduce


def reducer1(x, y):
    return x + y

print(reduce(reducer1, [1, 2, 3, 4]))  # 10


print(reduce(lambda x, y: x + y, [1, 2, 3, 4]))  # 10

10
10

In [65]:
def fn():
    song = {
        "song_no":"3333",
        "title":"봄날",
        "album":"yyoo",
        "artist":"artist"
    }

    TEMPLATE = """
    가수: {artist}
    제목: {title}
    좋아요: {like}
    """

    artist = "방탄소년단"
    song_no = "1111"
    title = "봄날"
    album = "111"
    rank = 45
    like = 912355

    context = {
        "song_no": song_no,
        "title": title,
        "album": album,
        "rank": rank,
        "like": like,
        "artist": artist
    }

    return TEMPLATE.format(**context)
    
print(fn())

    가수: 방탄소년단
    제목: 봄날
    좋아요: 912355

# (실습)함수

# 문자열을 인자로 받아, 단어수를 반환하는 함수를 작성하세요.

- 예) "우리는 파이썬을 즐겨요"를 인자로 받아, 3을 반환
- 힌트) `"파이썬 자동화".split()`

In [70]:
def strLen(문자열):
    return len(문자열.split())

In [71]:
strLen("우리는 파이썬을 즐겨요")

3

# 문자열을 인자로 받아, 공백을 제외한 글자를 반환하는 함수를 작성하세요.

- 예) "우리는 파이썬을 즐겨요"를 인자로 받아, 10을 반환
- 힌트) 문자열은 순회가능한 객체

In [103]:
def strLenNblank(문자열):
    returnVlaue = ""
    for str in 문자열:
        returnVlaue += str.strip()
    return len(returnVlaue)

def fn2(s):
    return len([ch for ch in s if ch != ' '])

import re
def fn2_1(s):
    return len(re.sub(r"\s+", "", s))

In [105]:
strLenNblank("우리는 파이썬을 즐겨요")

10

In [106]:
fn2("우리는 파이썬을 즐겨요")

10

In [107]:
fn2_1("우리는 파이썬을 즐겨요")

10

# 자연수를 인자로 받아, 천단위 절사한 값을 리턴하는 함수를 작성하세요.

- 예) 정수 1234567을 인자로 받아, 1234000을 반환

In [116]:
def fn3(number):
    return (number//1000) * 1000
fn3(1234567)

1234000

# 클로저

In [123]:
def make_fn(base):
    lambda_fn = lambda x, y: x + y + base
    def fn(x, y):
        return base + x + y
    return fn

In [119]:
ret1 = make_fn(1)

In [122]:
print(ret1(1,2))
print(ret1(2,3))
print(ret1(3,4))

4
6
8

In [121]:
make_fn(1)(1,2)

4

# (실습) 빌트인 함수 및 정렬

## sorted : 정렬

In [124]:
sorted("마가바다라바사")

['가', '다', '라', '마', '바', '바', '사']

In [125]:
number_list = [25, 19, 45, 32]

In [126]:
sorted(number_list, reverse=True)

[45, 32, 25, 19]

In [128]:
def sort_fn(value): # 5, 2, 5, 9
    return value % 10
sorted(number_list, key=sort_fn)

[32, 25, 45, 19]

## filter : 필터링

In [132]:
filter(
    lambda song: song["artist"] == "방탄소년단",
    melon_top100_list
)

In [134]:
iter0 = filter(
    lambda song: song["artist"] == "방탄소년단",
    melon_top100_list
)

iter1 = map(
    lambda song: song["like"],
    iter0,
)

for row in iter1:
    print(row)

360973
151888
406448
90768
91384
516137
84610
253278
79719
80551

# 1. 멜론TOP100 리스트에서 "곡명" 단어수 출력

In [139]:
iter3 = map(
    lambda song: len(song["title"]),
    melon_top100_list
)

for row in iter3:
    print(row)

38
8
9
12
12
14
21
13
18
6
44
14
28
13
28
25
4
30
15
27
24
9
25
23
17
17
7
16
3
11
41
8
6
16
37
11
5
2
11
13
12
8
19
16
13
40
2
34
31
11
7
5
19
7
4
16
3
9
2
12
3
4
2
3
15
9
2
4
26
5
1
13
9
16
9
4
13
2
11
18
20
6
17
19
11
3
7
7
4
3
20
21
29
15
10
7
6
7
10
15

# 2. 멜론TOP100 리스트에서 "곡명" 단어수로 TOP10 곡명 출력

In [163]:
iter3 = map(
    lambda song: (len(song["title"]),song["title"]),
    melon_top100_list
)

def sort_fn(song):
    return song[0]

list(map(
    lambda song: song[1],
    sorted(iter3, key=sort_fn, reverse=True)[:10]
))

['Savage Love (Laxed - Siren Beat) (BTS Remix)',
 '작은 것들을 위한 시 (Boy With Luv) (Feat. Halsey)',
 '오늘도 빛나는 너에게 (To You My Light) (Feat.이라온)',
 'VVS (Feat. JUSTHIS) (Prod. GroovyRoom)',
 '모든 날, 모든 순간 (Every day, Every Moment)',
 '윈윈 (Feat. 개코, BewhY) (Prod. BewhY)',
 'All I Want For Christmas Is You',
 '원해 (Feat. 팔로알토) (Prod. 코드 쿤스트)',
 'Ice Cream (with Selena Gomez)',
 '내 마음이 움찔했던 순간 (취향저격 그녀 X 규현)']

In [200]:
list(
    map(
        lambda song: song["title"],
        sorted(
            melon_top100_list,
            key=lambda song: len(song["title"].split()),
            reverse=True
        )[:10]
    )
)

['작은 것들을 위한 시 (Boy With Luv) (Feat. Halsey)',
 'Savage Love (Laxed - Siren Beat) (BTS Remix)',
 '내 마음이 움찔했던 순간 (취향저격 그녀 X 규현)',
 '모든 날, 모든 순간 (Every day, Every Moment)',
 '오늘도 빛나는 너에게 (To You My Light) (Feat.이라온)',
 '나랑 같이 걸을래 (바른연애 길잡이 X 적재)',
 'All I Want For Christmas Is You',
 '사랑 못해, 남들 쉽게 다 하는 거',
 '별을 담은 시 (Ode To The Stars)',
 '취기를 빌려 (취향저격 그녀 X 산들)']

In [164]:
max(
    melon_top100_list,
    key=lambda song: song["like"]
)

{'song_no': '30244931',
 'title': '봄날',
 'album': 'YOU NEVER WALK ALONE',
 'artist': '방탄소년단',
 'rank': 47,
 'like': 516137}

In [165]:
min(
    melon_top100_list,
    key=lambda song: song["rank"]
)

{'song_no': '33077590',
 'title': 'VVS (Feat. JUSTHIS) (Prod. GroovyRoom)',
 'album': '쇼미더머니 9 Episode 1',
 'artist': '미란이',
 'rank': 1,
 'like': 96325}

# 1. "좋아요" 수가 가장 많은 곡은? 가장 작은 곡은?

In [166]:
max(
    melon_top100_list,
    key=lambda song: song["like"]
)

{'song_no': '30244931',
 'title': '봄날',
 'album': 'YOU NEVER WALK ALONE',
 'artist': '방탄소년단',
 'rank': 47,
 'like': 516137}

In [169]:
min(
    melon_top100_list,
    key=lambda song: song["like"]
)

{'song_no': '33027247',
 'title': '너의 곁에만 맴돌아',
 'album': '너의 곁에만 맴돌아',
 'artist': '노을',
 'rank': 95,
 'like': 13498}

# 2. "곡명" 단어수가 가장 많은 곡은? 가장 작은 곡은?

In [172]:
max(
    melon_top100_list,
    key=lambda song: song["title"].split()
)

{'song_no': '32998018',
 'title': '힘든 건 사랑이 아니다',
 'album': '힘든 건 사랑이 아니다',
 'artist': '임창정',
 'rank': 5,
 'like': 79274}

In [173]:
min(
    melon_top100_list,
    key=lambda song: song["title"].split()
)

{'song_no': '31509376',
 'title': '12:45 (Stripped)',
 'album': '12:45 (Stripped)',
 'artist': 'Etham',
 'rank': 74,
 'like': 97130}

# 3. "곡명" 글자수가 가장 많은 곡은? 가장 작은 곡은?

In [170]:
max(
    melon_top100_list,
    key=lambda song: len(song["title"])
)

{'song_no': '32962258',
 'title': 'Savage Love (Laxed - Siren Beat) (BTS Remix)',
 'album': 'Savage Love (Laxed - Siren Beat) [BTS Remix]',
 'artist': 'Jawsh 685',
 'rank': 11,
 'like': 128625}

In [171]:
min(
    melon_top100_list,
    key=lambda song: len(song["title"])
)

{'song_no': '33077239',
 'title': '병',
 'album': 'BE',
 'artist': '방탄소년단',
 'rank': 71,
 'like': 80551}

# 대소비교

In [174]:
"9" < "10"

False

In [178]:
["9"] < ["1","0"]

False

In [176]:
("9",) < ("1","0")

False

## 퀴즈 : 다수 기준으로 정렬하여, 출력하기

멜론 TOP100 리스트에서 ...

- 1차 기준 : 가수명 오름차순
- 2차 기준 : 좋아요 수 내림차순

In [193]:
def sort_fn(song):    
    return song["artist"], -song["like"]

for song in sorted(
    melon_top100_list,
    key=sort_fn,
    #reverse=True
):
    print("{artist} - {like}".format(**song))

(여자)아이들 - 88992
AKMU (악동뮤지션) - 324328
AKMU (악동뮤지션) - 27547
Anne-Marie - 344253
Ariana Grande - 163192
BLACKPINK - 164169
BLACKPINK - 150487
BLACKPINK - 71614
BLACKPINK - 45999
Billie Eilish - 240690
Conan Gray - 109653
Crush - 45950
Dua Lipa - 125733
Etham - 97130
HYNN (박혜원) - 178474
ITZY (있지) - 57086
Jawsh 685 - 128625
Lauv - 235071
MINO (송민호) - 36788
Mariah Carey - 144559
Maroon 5 - 147095
Red Velvet (레드벨벳) - 207314
Ruel - 115439
TWICE (트와이스) - 44830
Tones And I - 142944
aespa - 22284
가호 (Gaho) - 193693
경서 - 42768
경서예지 - 35457
규현 (KYUHYUN) - 80653
김필 - 101220
노을 - 168242
노을 - 13498
릴보이 (lIlBOI) - 36493
마마무 (Mamamoo) - 48948
마마무 (Mamamoo) - 26732
마크툽 (MAKTUB) - 221664
마크툽 (MAKTUB) - 30943
먼데이 키즈 (Monday Kiz) - 20854
미란이 - 96325
바이브 - 151325
박진영 - 67092
방탄소년단 - 516137
방탄소년단 - 406448
방탄소년단 - 360973
방탄소년단 - 253278
방탄소년단 - 151888
방탄소년단 - 91384
방탄소년단 - 90768
방탄소년단 - 84610
방탄소년단 - 80551
방탄소년단 - 79719
백지영 - 48806
블루 (BLOO) - 179908
산들 - 157119
선미 - 82381
송하예 - 19524
순순희 - 33048
스윙스 - 22740
스탠딩 에그 - 200318
신예영 - 92121
신용재 (2F) - 35641
싹쓰리 (유두래곤, 린다G, 비룡) - 227742
아이유 - 330812
아이유 - 277216
아이유 - 276492
아이유 - 181227
아이유 - 110524
엠씨더맥스 (M.C the MAX) - 98867
오마이걸 (OH MY GIRL) - 162197
오마이걸 (OH MY GIRL) - 159448
오반 - 133497
오반 - 34630
이승기 - 30936
이하이 - 118469
임영웅 - 102994
임창정 - 79274
임창정 - 24531
잔나비 - 51564
장범준 - 270226
장범준 - 82843
적재 - 41985
전미도 - 128292
전상근 - 53011
제시 (Jessi) - 95443
조이 (JOY) - 106782
조정석 - 205491
지코 (ZICO) - 250278
지코 (ZICO) - 103641
창모 (CHANGMO) - 242195
청하 - 50408
카더가든 - 34745
폴킴 - 352271
폴킴 - 274863
폴킴 - 181151
폴킴 - 32289
허성현 (Rose de Penny) - 19431
화사 (Hwa Sa) - 153215
환불원정대 - 157953
황인욱 - 41063

# 정규표현식

In [203]:
"[]"
"\d+"
"\\d" 
r"\d" # Raw의 약자

'\\d'

In [202]:
"\n" # => 1문자
"\t"

'\t'

In [204]:
r"\d{4}" # [0-9] 연속해서 4회 반복
r"[23]\d{3}"

'[23]\\d{3}'

In [209]:
# pk: "\d+"
# uuid: 32글자 => "[0-9a-f{32}]"
# slug => 영문자
# slug(unicode) => 모든 문자

In [206]:
from uuid import uuid4

In [207]:
uuid4()

UUID('4ed6384d-1c6d-4292-a2ea-709d270744a5')

In [208]:
uuid4().hex

'0b22bd7d40c8439b949528315ff08701'

# 유니코드

In [213]:
unicode_ga = '가나다'
utf8_ga = unicode_ga.encode('utf8')

print(len(unicode_ga))   # 3 : 글자 수
print(len(utf8_ga))      # 9 : 바이트 수

# 처음 2글자만 보기
print(unicode_ga[:2])
print(utf8_ga[:6])       # 인코딩따라서 참조하는 인덱스가 다름.

3
9
가나
b'\xea\xb0\x80\xeb\x82\x98'

In [216]:
"가" # str(유니코드) => bytes(특정 인코딩)
"가".encode("utf8") # bytes

b'\xea\xb0\x80'

In [225]:
image_url = "https://search.naver.com/search.naver?where=image&sm=tab_jum&query=%EC%9D%B4%EB%AF%B8%EC%A7%80#"

res = requests.get(image_url, headers=headers)
res

In [226]:
f = open("hello.txt", "wb") # bytes를 직접 저장하겠다.
f.write("가".encode("cp949"))
f.close()

In [228]:
# 유니코드를 주면 알아서 인코딩(utf-8,cp949)을 해달라
#     encoding 옵션을 명시적으로 주어, OS마다 다르게 저장되는 인코딩의 차이를 제거한다.
f = open("hello.txt", "wt", encoding="utf8") 
f.write("가")
f.close()

In [ ]:
f = open("hello.txt", "wb")
f.write(image_url)
f.close()

In [223]:
# res.text => res.content (bytes)를 디코딩하여, 유니코드화(str)
# res.content.decode("utf8")

In [224]:
from IPython.display import Image

In [229]:
Image(url=image_url)

In [230]:
utf8_bytes = "가".encode("utf8")
utf8_bytes

b'\xea\xb0\x80'

In [235]:
# 현재 role에 위반되는 항목을 무시하고 진행을 하겠다.
utf8_bytes.decode("utf8", errors="ignore")

'가'

In [232]:
utf8_bytes.decode

In [236]:
f = open("hello.txt", "rt", encoding="utf8")
f.read()

'가'

In [237]:
import locale

In [240]:
# 이미지 다운받기
import os
import requests

image_url = "https://www.python.org/static/img/python-logo@2x.png"
image_filename = os.path.basename(image_url)

# 서버에서 요청을 거부할 수도 있습니다. (예: 네이버 웹툰 이미지)
res = requests.get(image_url)
이미지_데이터 = res.content

f = open(image_filename, "wb")
f.write(이미지_데이터)
f.close()

In [243]:
# 네이버 웹툰 이미지 받아보기
import os

headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/72.0.3626.121 Safari/537.36'
}

image_url = 'https://image-comic.pstatic.net/webtoon/728750/81/20201023203136_f71de6b830335fa091a3cf0819224c9c_IMAG01_1.jpg'

res = requests.get(image_url, headers=headers)
filename = os.path.basename(image_url)
with open(filename, "wb") as f:
    f.write(res.content)
    print(f"written to {filename}.")

written to 20201023203136_f71de6b830335fa091a3cf0819224c9c_IMAG01_1.jpg.

In [244]:
!ls

20201023203136_f71de6b830335fa091a3cf0819224c9c_IMAG01_1.jpg
PythonCode.ipynb
hello.txt
python-logo@2x.png

In [245]:
!open .

In [246]:
from contextlib import contextmanager

@contextmanager
def myopen(filepath, mode):
    f = open(filepath, mode)
    try:
        yield f
    finally:
        f.close()  # 항상 호출됩니다.

In [247]:
with myopen("hello.txt", "wt") as f:
    f.write("....")

In [254]:
import pandas as pd

pd.DataFrame(melon_top100_list).to_csv("melon_top100.csv")  # UTF8

# 퀴즈) 텍스트 파일을 줄 단위로 읽어서 출력하기

In [275]:
with open("melon_top100.csv", "rt") as f:
    # TODO: 줄 단위로 읽어서 출력해보세요.
    
#     print(f.read())
    
#     for line in f.read().splitlines():
#         print("!!!",line)

#     for line in f.read().splitlines()[:10]:
#         print("!!!",line)

#     for line in f:   # 파일객체는 Iterable
#         print("!!!", line)

    for index, line in enumerate(f):   # 파일객체는 Iterable
        print(f"[{index}]", line)
        if index >= 10:
            break

[0] ,song_no,title,album,artist,rank,like

[1] 0,33077590,VVS (Feat. JUSTHIS) (Prod. GroovyRoom),쇼미더머니 9 Episode 1,미란이,1,96325

[2] 1,32872978,Dynamite,Dynamite (DayTime Version),방탄소년단,2,360973

[3] 2,33013877,잠이 오질 않네요,잠이 오질 않네요,장범준,3,82843

[4] 3,33077234,Life Goes On,BE,방탄소년단,4,151888

[5] 4,32998018,힘든 건 사랑이 아니다,힘든 건 사랑이 아니다,임창정,5,79274

[6] 5,32961718,Lovesick Girls,THE ALBUM,BLACKPINK,6,150487

[7] 6,32794652,취기를 빌려 (취향저격 그녀 X 산들),취기를 빌려 (취향저격 그녀 X 산들),산들,7,157119

[8] 7,33061995,밤하늘의 별을(2020),밤하늘의 별을(2020),경서,8,42768

[9] 8,33077591,Freak (Prod. Slom),쇼미더머니 9 Episode 1,릴보이 (lIlBOI),9,36493

[10] 9,3894276,오래된 노래,오래된 노래,스탠딩 에그,10,200318

# 장식자 (Decorators)

In [281]:
def base_10():
    fn = lambda x, y: x + y + 10
    return fn

def base_10_2():
    fn = lambda x, y: x + y + 10
    def fn(x, y):
        return x + y + 10
    return fn

In [283]:
def mysum1(x, y):
    return x + y

In [282]:
print(base_10()(1,2))
print(base_10_2()(1,2))

13
13

In [276]:
# base_10 함수 호출 시마다
# 새로운 함수가 만들어지고 반환합니다.
def base_10(fn):
    def wrap(x, y):
        return x + y + 10
    return wrap

In [277]:
# base_10 함수 호출 시마다
# 새로운 함수가 만들어지고 반환합니다.
def base_10(fn):
    def wrap(x, y):
        return x + y + 10
    return wrap

In [278]:
#
# base_10 활용 예 #2
#

@base_10
def mysum2(x, y):
    return x + y

In [306]:
def base_10(fn):
    def wrap(x, y):
        return fn(x, y) + 10
    return wrap

def base_20(fn):
    def wrap(x, y):
        return fn(x, y) + 20
    return wrap

def base_30(fn):
    def wrap(x, y):
        return fn(x, y) + 30
    return wrap

@base_10
@base_20
@base_30
def mysum3(x, y):
    return x + y

mysum3(1, 2)

63

In [310]:
def base(base_number):
    def wrap(fn):
        def inner(x, y):
            return fn(x, y) + base_number
        return inner
    return wrap

# base_10 = base(10)
# base_20 = base(20)
# base_30 = base(30)

# @base_10
# @base_30
@base(100)
def mysum3(x, y):
    return x + y

mysum3(1, 2)

103

In [295]:
def mysum1(x, y):
    return x + y

In [299]:
mysum1 = base_10(mysum1) # 이름을 맞춥니다.
mysum1 = base_10(mysum1) # 이름을 맞춥니다.
mysum1 = base_10(mysum1) # 이름을 맞춥니다.
mysum1 = base_10(mysum1) # 이름을 맞춥니다.

mysum1(1,2)

53

In [302]:
@base_10
@base_10
@base_10
def mysum2(x,y):
    return x + y

mysum2(1,2)

33

# 퀴즈) 지정된 조건의 인자만 처리하기

In [375]:
def myfilter(filter_fn, alter_value):
    def wrap(fn):
        def inner(*args):  # args: tuple
            # TODO
            new_args = []
            for arg in args:
                new_args.append(
                    arg if filter_fn(arg) else alter_value
                )
            print(*new_args)
            return fn(*new_args)
           
        return inner
    return wrap


@myfilter(lambda i: i % 2 == 0, 0)
def mysum_only_even_number(a, b, c, d, e):
    return a + b + c + d + e

@myfilter(lambda i: i % 2 == 1, 1)
def mymultiply_only_odd_number(a, b, c, d, e):
    return a * b * c * d * e

assert mysum_only_even_number(1,2,3,4,5) == 6
#       mysum_only_even_number(0,2,0,4,0) == 6
assert mymultiply_only_odd_number(1,2,3,4,5) == 15
#       mymultiply_only_odd_number(1,1,3,1,5)

0 2 0 4 0
1 1 3 1 5

# memoize 장식자 구현하기

# 장식자 알아보기

In [ ]:
def decorator(func):
  def deco_func():
    print("tistory")
    func()
  return deco_func
    
def function1():
  print("ssungkang")
  

function1 = decorator(function1)
function1()
# tistory
# ssungkang
print("111")